@charset "UTF-8";
* { font-family: "NotoSerifCJKtc", serif !important; }

body { background-color: #340C4C; width: 100%; }
body .bigmap { position: absolute; top: 0; left: 0; z-index: 99; width: 100%; height: 100vh; z-index: 999; background-color: rgba(0, 0, 0, 0.5); display: none; }
body .bigmap .layout { position: absolute; top: 0; left: 0; z-index: 99; width: 100%; height: 100vh; background-color: rgba(0, 0, 0, 0.5); }
body .bigmap img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 99999; }

.wrap { max-width: 1280px; width: 1280px; margin: auto; background-image: url("../images/bg.jpg"); position: relative; }
.wrap:after { content: url("../images/footerbg.png"); position: absolute; bottom: 0; left: 0; width: 100%; overflow: hidden; }

.main:after { content: ""; }

header { position: relative; background: -moz-linear-gradient(90deg, #440061 0, #88296F 25%, #E95377 85%, #E95377 100%); background: -webkit-gradient(linear, 90deg, color-stop(0, 440061), color-stop(25%, 88296F), color-stop(85%, E95377), color-stop(100%, E95377)); background: -webkit-linear-gradient(90deg, #440061 0, #88296F 25%, #E95377 85%, #E95377 100%); background: -o-linear-gradient(90deg, #440061 0, #88296F 25%, #E95377 85%, #E95377 100%); background: -ms-linear-gradient(90deg, #440061 0, #88296F 25%, #E95377 85%, #E95377 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); background: linear-gradient(90deg, #440061 0%, #88296f 25%, #e95377 85%, #e95377 100%); }
header .logo { position: absolute; top: 50%; left: 50px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); z-index: 999; }
header .top { height: 143px; padding: 0 50px; display: -webkit-flex; display: -webkit-flex; display: flex; align-items: flex-end; flex-direction: column; }
header .top:before { content: ""; width: 100%; height: 100%; background: url(../images/headerbg.png); position: absolute; left: 0; opacity: 0.5; }
header .top p { color: #44187F; font-size: 12.5px; z-index: 99; margin-top: 20px; }
header .top p span { color: #FEFEFE; display: block; font-size: 29px; margin-bottom: 7px; }
header .top .social { display: -webkit-flex; display: flex; justify-content: flex-end; align-items: center; width: 377px; z-index: 99; margin-top: 11px; }
header .top .social .language a { color: #440061; }
header .top .social .language a:first-child { margin-right: 24px; }
header .top .social .language a:last-child { margin-left: 24px; }
header .top .social .socalicon { display: -webkit-flex; display: flex; margin-right: 5px; }
header .top .social .socalicon .yahoo { margin-right: 9px; }
header .top .social .socalicon img { display: block; }
header .bottom { background-color: #920683; height: 38px; display: -webkit-flex; display: flex; align-items: center; justify-content: flex-end; padding: 0 50px; position: relative; z-index: 99; -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); }
header .bottom .menu ul { display: -webkit-flex; display: flex; }
header .bottom .menu ul li { background: url(../images/dish.png); margin: 0 15px; }
header .bottom .menu ul li:first-child { margin-left: 0; }
header .bottom .menu ul li:last-child { margin-right: 0; }
header .bottom .menu ul li a { text-decoration: none; color: #440061; background-size: cover; width: 83px; height: 83px; line-height: 83px; text-align: center; display: block; }
header .bottom .menu ul li:hover { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
header .bottom .menu ul li:hover a { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.content { display: -webkit-flex; display: flex; }
.content nav { width: 310px; padding-left: 60px; position: relative; z-index: 99; }
.content nav ul { margin-top: 55px; }
.content nav ul li { margin-bottom: 33px; }
.content nav ul li:before { content: url("../images/menuicon.png"); margin-right: 8px; }
.content nav ul li:hover:before { content: url("../images/menuicon_ho.png"); }
.content nav ul li a { color: #3E3E3E; font-size: 23px; text-decoration: none; }
.content .rightbg { background-image: url("../images/right_bg.png"); }
.content .maincontent { width: calc(100% - 310px); background-repeat: no-repeat; background-position: right 70px; }
.content .maincontent .titlecolumn { display: -webkit-flex; display: flex; justify-content: space-between; align-items: center; width: 542px; position: relative; z-index: 99; }
.content .maincontent .titlecolumn .back { margin-top: 55px; margin-bottom: 30px; border-left: 1px solid #E95377; padding-left: 20px; }
.content .maincontent .titlecolumn .back a { color: #440061; text-decoration: none; line-height: 27px; }
.content .maincontent img { position: relative; z-index: 99; }
.content .maincontent .title { font-size: 33px; color: #440061; margin-top: 55px; margin-bottom: 30px; }
.content .maincontent .title span { color: #E95377; font-size: 20px; }
.content .maincontent .title span:before { content: "/"; color: #440061; margin: 0 9px; }
.content .maincontent .filmbox { position: relative; z-index: 99; }
.content .maincontent .filmbox .film { width: 540px; margin-bottom: 35px; }
.content .maincontent .filmbox .film .description { font-size: 17px; color: #920683; margin-bottom: 10px; }
.content .maincontent .storeinfo { position: relative; z-index: 99; margin-left: 80px; }
.content .maincontent .storeinfo .storeinfoarea { margin-top: 20px; margin-bottom: 30px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox { display: -webkit-flex; display: flex; background-color: rgba(220, 220, 221, 0.6); width: 542px; padding: 6px; margin-bottom: 10px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storepic img { width: 204px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo { padding: 0px 8px 0px 14px; width: 100%; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .topcolumn { display: -webkit-flex; display: flex; justify-content: space-between; margin-top: 5px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .topcolumn .title { margin: 0; font-size: 23px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .topcolumn .map { cursor: pointer; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn { margin-top: 2px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .add, .content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .time, .content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .tel { color: #440061; margin-bottom: 12px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .add:before, .content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .time:before, .content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .tel:before { display: inline-block; vertical-align: top; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .add span, .content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .time span, .content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .tel span { display: block; color: #DA526B; margin-bottom: 3px; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .add:before { content: url("../images/addicon.png"); }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .time:before { content: url("../images/timeicon.png"); }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .tel { margin: 0; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .tel:before { content: url("../images/telicon.png"); }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .tel span { display: inline; }
.content .maincontent .storeinfo .storeinfoarea .storeinfobox .storecontactinfo .bottomcolumn .info { width: calc(100% - 20px); display: inline-block; }
.content .maincontent .storeinfo .top { color: #E95377; cursor: pointer; }
.content .maincontent .dish { position: relative; z-index: 99; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap; width: 925px; }
.content .maincontent .dish .dishbox { width: calc((925px - 24px) / 3); background-color: #F4E8CF; padding: 8px; margin-bottom: 8px; }
.content .maincontent .dish .dishbox:nth-child(3n+2) { margin: 0 12px 8px; }
.content .maincontent .dish .dishbox .dishpic img { width: 100%; }
.content .maincontent .dish .dishbox .title { color: #440061; margin: 14px 0px 6px; font-size: 22px; }
.content .maincontent .dish .dishbox .description { line-height: 25px; font-family: 微軟正黑體 !important; font-size: 14px; }
.content .store { background-image: url("../images/store_right_bg.png"); }
.content .dishbg { background-image: none; padding-right: 45px; }

footer { position: relative; z-index: 99; }
footer .copyright { color: #9F9FA0; line-height: 64px; text-align: center; }

/*# sourceMappingURL=style.css.map */
