@charset "utf-8";
.index_bg {
	height: 522px;
	width: 950px;
	background:url(../images/index/index_bg.jpg) no-repeat;
	position:relative;
}
.index_bnt{
	width:380px;
	position:absolute;
	top:150px;
	right:0px;
}
.index_bnt ul {
	list-style:none;
	margin:0;
	padding:0;
}
.index_bnt ul li{
	float:left;
	text-indent: -9999px;
}
.index_bnt ul li a {
	width:48px;
	height:185px;
	display: block;	
}
.index_bnt ul .btn01 a {
	background: url(../images/index/index_btn01.png) no-repeat;
}
.index_bnt ul .btn01 a:hover {
	background: url(../images/index/index_btn01.png) no-repeat 1px 1px;
}
.index_bnt ul .btn02 a {
	background: url(../images/index/index_btn02.png) no-repeat;
}
.index_bnt ul .btn02 a:hover {
	background: url(../images/index/index_btn02.png) no-repeat 1px 1px;
}
.index_bnt ul .btn03 a {
	background: url(../images/index/index_btn03.png) no-repeat;
}
.index_bnt ul .btn03 a:hover {
	background: url(../images/index/index_btn03.png) no-repeat 1px 1px;
}
.index_bnt ul .btn04 a {
	background: url(../images/index/index_btn04.png) no-repeat;
}
.index_bnt ul .btn04 a:hover {
	background: url(../images/index/index_btn04.png) no-repeat 1px 1px;
}
.index_bnt ul .btn05 a {
	background: url(../images/index/index_btn05.png) no-repeat;
}
.index_bnt ul .btn05 a:hover {
	background: url(../images/index/index_btn05.png) no-repeat 1px 1px;
}
.index_bnt ul .btn06 a {
	background: url(../images/index/index_btn06.png) no-repeat;
}
.index_bnt ul .btn06 a:hover {
	background: url(../images/index/index_btn06.png) no-repeat 1px 1px;
}
.flower {
	position:absolute;
	right:95px;
	bottom:25px;
	z-index:200px;
}
